/* fonts */

@font-face {
  font-family: dseg7;
  src: url(https://dl.dropboxusercontent.com/s/4dj8vuaa0rywq8o/DSEG7ModernMini-Regular.ttf?dl=0)
} 
@font-face {
  font-family: gothambold;
  src: url(https://dl.dropboxusercontent.com/s/ej034i1rqda1koz/GothamBold.ttf?dl=0)
}
@font-face {
  font-family: gothamlight;
  src: url(https://dl.dropboxusercontent.com/s/ik5sk8i84ifot5i/GothamLight.ttf?dl=0)
}
* {
	font-family: gothamlight;
}
